<!DOCTYPE html>
<html>
    <head>
        <title>Pi-Cam</title>
        <meta charset="UTF-8"/>
        <link href="style.css" rel="stylesheet">
    </head>
    <body>
        <header class="header">
            <h1>
                <img src="assets/Pi-Cam.png" alt="Pi-Cam">
                Pi-Cam</h1>
        </header>

        <nav class="nav">
            <ul>
                <li><a href="#"></a>About</li>
                <li><a href="#"></a>Github</li>
            </ul>
        </nav>

        <%- yield %>
    </body>
</html>