<!DOCTYPE html>
<html>
    <head>
        <title>Pi-Cam</title>
        <meta charset="UTF-8"/>
        <link href="style.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <header class="header">
            <div class="container">
                <h1 class="header__heading">
                    <img src="assets/Pi-Cam.png" alt="Pi-Cam">
                    Pi-Cam
                </h1>
            </div>
        </header>

        <nav class="nav">
            <div class="container">
                <ul class="nav__list">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="https://github.com/Pi-Cam">Github</a>
                    </li>
                    <li>
                        <a href="#">Team</a>
                    </li>
                </ul>
            </div>
        </nav>

        <%- yield %>
    </body>
</html>