<section class="hero">
    <h1>An all-inclusive web camera kit that allows you to easily view your content, both locally and remotely.</h1>
</section>

<section class="details">
    <ul>
        <li>
            <h2>Lorem ipsum dolor</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pellentesque ante laoreet, tempor enim consequat, sodales ligula. Aliquam interdum porttitor pulvinar. Aliquam sapien eros, porta eu porta congue, rhoncus sit amet dui. Mauris aliquet id nunc fringilla mollis. Ut non vehicula nulla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed id efficitur erat. Proin nec consectetur enim, ut rutrum mauris. Donec nec sagittis urna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam eu pharetra dolor. Morbi ac lacinia eros. Integer consectetur diam vel arcu hendrerit maximus.</p>
        </li>
        <li>
            <h2>Nullam id sem</h2>
            <p>Nullam id sem eget nulla placerat ultricies non ut nisl. Maecenas mattis libero ac metus eleifend, non sollicitudin purus sollicitudin. Nullam ex tellus, ornare vel ante ut, scelerisque laoreet arcu. In a ornare elit, eget sodales nunc. Pellentesque tristique urna quis ultricies pellentesque. Morbi mattis magna id est molestie porta. Sed eu feugiat orci. Aenean et lorem a quam vestibulum accumsan a non metus. Pellentesque luctus, dolor sed euismod sodales, arcu metus hendrerit nisi, id vulputate nisl dolor sed sapien. Phasellus mollis aliquam elit, ac pellentesque turpis sollicitudin eget. Sed id bibendum tellus. Morbi tellus metus, efficitur in nisl eget, egestas iaculis nisi. Suspendisse nibh metus, sodales non iaculis vitae, mollis non mauris. Vivamus cursus sodales commodo.</p>
        </li>
    </ul>
</section>