body {
    margin: 0;
}

.header {
    background: #f9b74e;
}

.nav {
    background: #ffa10a;
}

.hero {
    background: url('assets/hands-technology-photo-phone.jpg') 50% no-repeat;
}

.hero__content {
    background: rgba(0, 0, 0, 0.25);
}