body {
    font-family: sans-serif;
    margin: 0;
}

a {
    color: #f9e2bd;
}

.header {
    background: #f9b74e;
    &__heading {
        text-align: center;
    }
}

.nav {
    background: #ffa10a;
}

.hero {
    background: url('assets/hands-technology-photo-phone.jpg') 50% no-repeat;
    &__content {
        background: rgba(0, 0, 0, 0.25);
    }
}

.details {
    background: #f9e2bd;
}