body {
  font-family: 'Scope One', serif;
}

#main-title, #title-description {
  margin: auto;
  text-align: center;
  color: #000000; 
}

#title-description {
  padding-top: 100px;
}

#landing {
  height: 50%;
  width: 100%;
  background-color: #eaba72;
}

#camera-image {
  margin: auto;
  text-align: center;
}